/* ------------------------- */
/* CUSTOM PROPERTIES         */
/* ------------------------- */
:root {

    --form-control-color: rebeccapurple;

    /* Typography */

    /* font-family */
    --ff-rubik: "Rubik", serif;

    /* font-size */
    --fs-1: 0.5rem;
    --fs-2: 0.75rem;
    --fs-3: 1rem;
    --fs-4: 2rem;

    @media (min-width: 900px) {
        --fs-4: 2.5rem;
    }

    /* font-weight */
    --fw-1: 400;
    --fw-2: 500;
    --fw-3: 700;

    /* Colors */

    /* 1° */
    --violet-p: 276, 100%, 81%; /* pale violet */
    --violet-m: 276, 55%, 52%; /* moderate violet */
    --violet-d: 271, 15%, 43%; /* desaturated dark violet */
    --violet-vd: 271, 36%, 24%; /* very dark desaturated violet */
    --violet-g: 270, 7%, 64%; /* dark grayish violet */

    --blue-g: 206, 6%, 79%; /* grayish blue */

    /* 2° */
    --white: 0, 0%, 100%; /* white */
    --violet-lg: 270, 20%, 96%; /* light grayish violet */
    --magenta-vl: 289, 100%, 72%; /* very light magenta */

    /* gradients */
    --magenta-l: 293, 100%, 63%; /* light magenta */
    --violet-l: 264, 100%, 61%; /* light violet */
}

/* ------------------------- */
/* RESET                     */
/* ------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;

  line-height: 1.5;
  font-family: var(--ff-rubik);
  font-size: var(--fs-3);
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Helps keep default settings for users who actually set them to reduce animation */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ------------------------- */
/* UTILITY CLASSES           */
/* ------------------------- */

/* Typography */

/* font-weight */
.fw-1 { font-weight: var(--fw-1); }
.fw-2 { font-weight: var(--fw-2); }
.fw-3 { font-weight: var(--fw-3); }

/* font-size */
.fs-1 { font-size: var(--fs-1); }
.fs-2 { font-size: var(--fs-2); }
.fs-3 { font-size: var(--fs-3); }
.fs-4 { font-size: var(--fs-4); }

/* Colors */

/* background */

.bg-chat-box { background-color: hsl(var(--violet-m), 0.1);}
.bg-violet-lg { background-color: hsl(var(--violet-lg)); }
.bg-violet-vd { background-color: hsl(var(--violet-vd)); }
.bg-gradient-mv { background-image: linear-gradient(to right, hsl(var(--magenta-l)), hsl(var(--violet-l))); }
.bg-gradient-vm { background-image: linear-gradient(to right, hsl(var(--violet-l)), hsl(var(--magenta-l))); }

/* text */
.text-violet-p { color: hsl(var(--violet-p)); }
.text-violet-m { color: hsl(var(--violet-m)); }
.text-violet-d { color: hsl(var(--violet-d)); }
.text-violet-vd { color: hsl(var(--violet-vd)); }
.text-violet-g { color: hsl(var(--violet-g)); }
.text-blue-g {color: hsl(var(--blue-g));}
.text-white { color: hsl(var(--white)); }

/* Display */
.d-flex {
    display: flex;
}

.d-flex--row-reverse {
    flex-direction: row-reverse;
}

.d-flex--col {
    flex-direction: column;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}


/* ------------------------- */
/* COMPONENTS                */
/* ------------------------- */

/* Arrows */
.arrow-left,
.arrow-right {
    position: relative;
    display: inline-block;
}

/* left arrow */
.arrow-left {
    width: 0.25rem;
    height: 0.625rem;
}

.arrow-left::after,
.arrow-left::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 0.40625rem;
    height: 0.125rem;
    border-radius: 9999px;
    background-color: hsl(var(--white));
    transform-origin: 1px 50%;
}

.arrow-left::before {
    transform: rotate(63.45deg);
}

.arrow-left::after {
    transform: rotate(-63.45deg);
}

/* right arrow */
.arrow-right {
    width: 0.375rem;
    height: 0.625rem;
}
  
.arrow-right::before,
.arrow-right::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    width: 0.48125rem;
    height: 0.125rem;
    border-radius: 9999px;
    background-color: #ffffff;
    transform-origin: calc(100% - 1px) 50%;
}
  
.arrow-right::before {
    transform: rotate(45deg);
}
  
.arrow-right::after {
    transform: rotate(-45deg);
}

/* Menu button */
.menu-button {
    background-color: inherit;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.125rem;
}

.menu-button__line,
.menu-button::before,
.menu-button::after {
    content: "";
    width: 0.125rem;
    height: 0.125rem;
    background-color: hsl(var(--white));
    border-radius: 100px;
}

/* Custom radio */
.radio-box {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    width: 10rem;
    align-items: center;
    justify-content: space-between;

    color: hsl(var(--white), 0.7);
}

.radio-box div {
    gap: 0.5rem;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    background-color: inherit;
    border: 1.25px solid hsl(var(--magenta-vl));
    border-radius: 50%;
}

/* Submit button */
.submit {
    width: 1.5rem;
    aspect-ratio: 1;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}


/* ------------------------- */
/* BACKGROUND                */
/* ------------------------- */

body::before,
body::after {
    content: '';
    position: absolute;
    z-index: -9999;
}

body::before {
    width: 500px;
    height: 700px;
    top: clamp(-200px, -230px + 7.9vw, 0px);
    left: clamp(-310px, -422.5px + 30vw, 0px);
    background-image: linear-gradient(to bottom, hsl(var(--magenta-l)), hsl(var(--violet-l)));
    border-radius: 0 0 250px 250px;
}

@media (min-width: 900px) {
    body::before {
        top: 0;
        left: -80px;
        left: clamp(-200px, -150px + 5vw, -80px);
    }

    body::after { 
        width: 500px;
        height: 700px;
        bottom: 0;
        right: -170px;
        background-color: hsl(var(--violet-lg));
        border-radius: 250px 250px 0 0;
    }
}


/* ------------------------- */
/* LAYOUT                    */
/* ------------------------- */

.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 4rem;
    
    margin: 0 auto;
    padding-block: 4rem;
    width: min(80%, 30rem);

    text-align: center;
}

header h1 {
    margin-block-end: 1.5rem;
}

/* phone */
.mobile {
    width: 15.5rem;
    padding: 0.625rem;
    border-radius: 2rem;
    box-shadow: 4px 16px 24px 8px hsl(var(--blue-g), 0.3);
    background-color: hsl(var(--white));
}

.mobile__inner {
    border-radius: 1.5rem;
}

.mobile__inner__profile-box {
    border-radius: 1.5rem 1.5rem 0.3rem 0.3rem;
}

.mobile__inner__profile-box::before {
    content: '';
    background-color: hsl(var(--white));
    display: block;
    margin: 0 auto;
    width: 57%;
    height: 18px;
    border-radius: 0 0 1.5rem 1.5rem;
}

.profile-box__contents {
    padding: 0.75rem;
    align-items: center;
    justify-content: space-between;
}

.profile-box__contents__left {
    align-items: center;
    gap: 0.5rem;
}

.profile-box__contents__left img {
    border-radius: 50%;
    border: 1px solid hsl(var(--white));
    max-width: 24px;
}

.mobile__inner__chat-box {
    padding: 0.7rem 0.375rem;
    gap: 0.5rem;
    border-radius: 0 0 1.5rem 1.5rem;
}

.chat {
    max-width: 8rem; /* 56% */
    padding: 0.375rem 0.5rem;
    opacity: 0;
}

.chat--left {
    align-self: flex-start;
    border-radius: 1rem 1rem 1rem 0.3rem;
    transform: translateX(-100%); /* Start off-screen */
    animation: slideRight 1s ease-out forwards; /* Animation on page load */
}

.chat--right {
    align-self: flex-end;
    border-radius: 1rem 1rem 0.3rem 1rem;
    background-color: hsl(var(--white));
    transform: translateX(100%); /* Start off-screen */
    animation: slideLeft 0.7s ease-out forwards; /* Animation on page load */
}

.chat--left + .chat--right,
.chat--right + .chat--left {
    margin-top: 0.5rem;
}

.chat-pics {
    background-color: inherit;
    gap: 0.5rem;
}

.chat-pics img {
    border-radius: 0.5rem;
    width: 2.5rem;
}

.chat-window {
    padding: 0.315rem;
    padding-inline-start: 1.25rem;
    margin-block-start: 0.5rem;
    background-color: hsl(var(--white));
    border-radius: 100px;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: slideIn 1.5s ease-out forwards; /* Animation on page load */
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container {
        min-width: 100vw;
        display: grid;
        grid-template-columns: minmax(1rem, 1.4fr) minmax(0, 15.5rem) minmax(0, 40%) minmax(1rem, 1fr);
        padding-block: 9.375rem;
        gap: 0;

        text-align: left;
    }

    header {
        grid-column: 3;
        margin-inline-start: clamp(3.5rem, 8.7vw , 7.75rem);

    }

    .mobile {
        grid-column: 2;
        grid-row: 1;
    }
}

.attribution { 
    padding: 1rem;
    font-size: 11px; 
    text-align: center;

    margin-top: auto;
}

.attribution a:hover {
    transform: scale(1.1);
    color: hsl(var(--white));
}


/* ------------------------- */
/*  THANKS FOR REVIEWING     */
/* ------------------------- */